<a href="https://colab.research.google.com/github/jofmorenore/TCI_proyecto/blob/main/Tarea_Python_FM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

+ 1. Revise todas las lecciones de programación en Python.
+ 2. Escriba un cuaderno que contenga dos ejercicios propuestos y resueltos de colecciones, en los cuales utilice los diferentes métodos asociados a cada tipo de colección.
+ 3. Escriba un archivo de excel o csv con la información de cuentas bancarias que contiene la siguiente información: número de cuenta, nombre del cliente, saldo_actual, fecha última transacción. Coloque el archivo en alguna dirección url. Por ejemplo en su repositorio de Github.
+ 4. Escriba un cuadernos en donde implemente  una clase  iterable  que haga lo siguiente: 
  + a) al inicio abra el archivo y lo suba a un dataframe de Pandas.
  + b) Entregue la información de la siguiente cuenta cuando se le pida el siguiente dato.

## Solución

+ 2.       
      + Ejercicio 1: Investigue que significa unhashable. Busque la función hash() y úsela en este contexto.
      + Ejercicio 2: Defina un diccionario de al menos 4 llaves de tal manera que esas llaves sean tuplas. Acceda a cada elemento. ¿Puede hacer lo mismo para una llave que sea definida como lista o diccionario?

Un objeto es hashable si tiene un valor hash que nunca cambia durante su vida útil, y se puede comparar con otros objetos. Luego unhasable significa que no puede ser usado para generar hash (un valor que no cambie durante su vida útil).

In [15]:
my_dic=dict(
    vocales = ['a','e','i','o','u'],
    operaciones = ['+','-', '*', '/']
    )
my_dic

{'vocales': ['a', 'e', 'i', 'o', 'u'], 'operaciones': ['+', '-', '*', '/']}

In [16]:
for i in range(5):
  print('The hash is:', hash(my_dic['vocales'][i]))

The hash is: 6025836453684592486
The hash is: 1340451882769065176
The hash is: -2856304955422632271
The hash is: -1400178648041602850
The hash is: -5755227097035030220

In [17]:
my_dic2 = {
    ('animals', 'animales'):  ['Pig', 'Dog', 'Sheep'],
    ('people', 'personas'):  ['Roger', 'David', 'Syd'],
    ('cities', 'ciudades'):  ['London', 'Cambridge'],
    ('instruments', 'instrumentos'):  ['Bass', 'Guitar', 'Drum']
}
my_dic2

{('animals', 'animales'): ['Pig', 'Dog', 'Sheep'],
 ('people', 'personas'): ['Roger', 'David', 'Syd'],
 ('cities', 'ciudades'): ['London', 'Cambridge'],
 ('instruments', 'instrumentos'): ['Bass', 'Guitar', 'Drum']}

In [18]:
for i in my_dic2.keys():
  for j in range(len(my_dic2[i])):
    print(my_dic2[i][j])

Pig
Dog
Sheep
Roger
David
Syd
London
Cambridge
Bass
Guitar
Drum

In [19]:
my_dic3 = {
    ['animals', 'animales']:  ['Pig', 'Dog', 'Sheep'],
    ['people', 'personas']:  ['Roger', 'David', 'Syd'],
    ['cities', 'ciudades']:  ['London', 'Cambridge'],
    ['instruments', 'instrumentos']:  ['Bass', 'Guitar', 'Drum']
}
my_dic3

TypeError: ignored

In [20]:
my_dic4 = {
    {'a0':'animals'}:  ['Pig', 'Dog', 'Sheep'],
    {'b0': 'people'}:  ['Roger', 'David', 'Syd'],
    {'c0':'cities'}:  ['London', 'Cambridge'],
    {'d0':'instruments'}:  ['Bass', 'Guitar', 'Drum']
}
my_dic4

TypeError: ignored

De acuerdo a las salidas anteriores se verifica que no se puede definir un diccionario con llaves que sean listas o diccionarios.

+ 3.

In [21]:
import pandas as pd
import numpy as np
import random
import datetime
import string

In [22]:
cuentas_bancarias = pd.DataFrame()

In [23]:
random.seed(20922)
cuentas_bancarias['numero_cuenta'] = [random.randint(10**7,10*10**7) for i in range(11)]
cuentas_bancarias['nombre_cliente'] = [string.ascii_uppercase[random.randint(0,26)]+'.'+string.ascii_uppercase[random.randint(0,26)]+'.' for i in range(11)]
cuentas_bancarias['saldo_actual'] = [random.randint(0,10**7) for i in range(11)]
cuentas_bancarias['fecha última transacción'] = [datetime.date(random.randint(2015,2022), random.randint(1,12), random.randint(1,28)) for i in range(11)]
cuentas_bancarias

    numero_cuenta nombre_cliente  saldo_actual fecha última transacción
0        46479307           L.U.       5503277               2015-03-08
1        11002835           H.Y.       4736715               2022-08-19
2        49399742           E.T.       8237084               2015-02-03
3        13701118           M.I.       3556675               2016-12-13
4        27363868           C.V.       2300397               2015-12-11
5        24851202           J.A.        333361               2017-07-12
6        57912859           Z.M.        250392               2020-10-10
7        99315719           R.O.       2019542               2021-04-15
8        98844127           Z.C.       6519047               2016-10-16
9        34176698           T.M.       8901422               2022-05-06
10       81619991           B.S.       5066858               2016-03-11

In [32]:
cuentas_bancarias.to_csv(r'Cuentas_Bancarias_FM.csv')